
  <div class="formularioLogin">

    <%= form_tag '/login' , class:'cont' do%>


      <p class="to">Toner Deport</p>
      <p class="to1">Iniciar sesión </p>
      <div class="inputCont">
        <label class="label1">Usuario:</label>
        <%= text_field_tag :Correo, nil,placeholder: '',:class=>'form-control inputLogin' %>
        <label class="label2">Contraseña:</label>
        <%= password_field_tag :password,nil, :placeholder => '',:class=>'form-control inputLogin'%>
        <%= submit_tag 'Entrar' ,class: 'btn-login'%>
    <%end%>
    <%=link_to 'Pedir Acceso...'%>
    </div>


    <%if flash[:alert]%>
      <div class="alerta2 alert alert-danger" style="margin-left: 10px;margin-right: 10px;font-weight: bold">

        <p><%=flash[:alert]%></p>
    <%end%>
    </div>

  </div>



