

<nav class="sidebar-navigation">
  <ul>
    <%=link_to empleados_path do %>
      <li class="active">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="tooltip">Lista de Empleados</span>
      </li>
    <%end %>

    <%=link_to productos_path do %>
      <li >
        <i class="fa fa-folder-open " aria-hidden="true"></i>
        <span class="tooltip">Lista de Productos </span>
      </li>
    <%end %>


    <%=link_to empleados_path do %>
      <li >
        <i class="fa fa-address-book-o" aria-hidden="true"></i>
        <span class="tooltip">Lista de Usuarios </span>
      </li>
    <%end %>

    <%=link_to empleados_path do %>
      <li >
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <span class="tooltip">Reportes </span>
      </li>
    <%end %>
  </ul>
</nav>

<header class="header-nav">
  <div class="perfil">
    <p class="parrafo"><strong>Bienvenido :  </strong><%=current_user.userCompleto%></p>
    <span class="perfil--close"> <%=link_to 'Cerrar sesion',  logout_path, method: :delete,class: 'link' %></span>
  </div>
</header>

<div class="container--box">
<header class="header-title">
  <h1>Empleados</h1>
</header>

<% if @empleados.empty? %>
  <h2>No hay empleado registrado aun....<%= link_to 'Nuevo Empleado',newEmpleado_path, class: "btn btn-primary" %> </h2>

  <%else %>
<div class="container--tableEmpl">
  <div>
    <%= link_to 'Nuevo Empleado',newEmpleado_path, class: "btn btn-primary" %>
  </div>
<table class="ui very basic collapsing celled table table--empl">
  <thead>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Cargo</th>
    <th>Departamento</th>
    <th>Accion</th>
  </tr></thead>
  <tbody>
  <%@empleados.each do |e| %>
  <tr>
    <td>
      <%=e.CodigoEmpleado %>
    </td>
    <td>
     <%=e.Nombre %> <%=e.Apellido %>
    </td>
  <td><%=e.Puesto %></td>
    <td> <%=e.Departamento %></td>
    <td colspan="5">
      <%= link_to 'Editar',editEmpleado_path(e), class: "btn btn-warning" %>
      <%= link_to 'Eliminar', { action: :destroy, id: e.id }, method: :delete, class: "btn btn-danger",data: {confirm: "Esta seguro de eliminar este empleado"} %>
    </td>
  </tr>
    <%end %>
  </tbody>
</table>
</div>
<%end %>
</div>
<%if flash[:notice]%>
  <div class="alert alert-info" style="float: right; margin-right: 500px">

    <p><%= flash[:notice]%></p>

  </div>
<%end %>

<%if flash[:notice2]%>
  <div class="alert alert-success" style="float: right; margin-right: 500px">

    <p><%= flash[:notice2]%></p>

  </div>
<%end %>

<%if flash[:notice3]%>
  <div class="alert alert-success" style="float: right; margin-right: 500px">

    <p><%= flash[:notice3]%></p>

  </div>
<%end %>