
<nav class="sidebar-navigation">
  <ul>
    <%=link_to empleados_path do %>
      <li >
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="tooltip">Lista de Empleados</span>
      </li>
    <%end %>

    <%=link_to productos_path do %>
      <li class="active" >
        <i class="fa fa-folder-open " aria-hidden="true"></i>
        <span class="tooltip">Lista de Productos </span>
      </li>
    <%end %>

    <%=link_to empleados_path do %>
      <li >
        <i class="fa fa-address-book-o" aria-hidden="true"></i>
        <span class="tooltip">Lista de Usuarios </span>
      </li>
    <%end %>

    <%=link_to empleados_path do %>
      <li >
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <span class="tooltip">Reportes </span>
      </li>
    <%end %>
  </ul>
</nav>

<div class="container">
  <div class="registro">

    <h1 class="to">Registro de Nuevo Producto</h1>

    <%= form_for  @producto, url: new_producto_path(@producto) do |f| %>
      <% if @producto.errors.any? %>
        <div id="errorExplanation">
          <ul>
            <% @producto.errors.full_messages.each do |msg| %>
              <li  class="alert alert-danger" role="alert" ><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="control-group error">
        <div class="controls ">
          <%= f.text_field :Serial, :placeholder => 'Serial',:class=>"form-control inputt"%>
        </div>
        <div class="controls">
          <%= f.text_field :Descripcion , :placeholder => 'Descripcion',:class=>"form-control inputt"%>
        </div>
        <div class="controls">
          <%= f.text_field :Marca, :placeholder => 'Marca',:class=>"form-control inputt"%>
        </div>
        <div>
          <%= f.text_field :Modelo, :placeholder => 'Modelo',:class=>"form-control inputt" %>

        </div>
        <div>
          <%= f.text_field :Area, :placeholder => 'Area',:class=>"form-control inputt" %>

        </div>
      </div>
      <div class="actions"><%= f.submit 'Enviar', :class=>'btn btn-success btn2' %></div>
    <% end %>
  </div>
</div>

