
<div class="formularioCab">

  <%= form_tag transferencia_path,method: :get , class:'cont form--containerCode', name:'calculator' do%>
    <div class="form--containerCode--text">
     <p class="toCab">Toner Deport</p>
     <p class="toCab1">Ingresar su código de empleado </p>
    </div>
    <div class="inputCont">
      <div class="form--containerCode-input">
       <%= text_field_tag :codigo, nil,placeholder: '12345678',:class=>'form-control inputcab', value:"" %>
      </div>
      <div class="">
        <div>
          <input type="button"  class="btn btnCal " value="1" onclick="document.calculator.codigo.value+='1'">
          <input type="button"  class="btn btnCal" value="2" onclick="document.calculator.codigo.value+='2'">
          <input type="button"  class="btn btnCal " value="3" onclick="document.calculator.codigo.value+='3'">
        </div>

        <div>
          <input type="button"  class="btn btnCal" value="4" onclick="document.calculator.codigo.value+='4'">
          <input type="button"  class="btn btnCal" value="5" onclick="document.calculator.codigo.value+='5'">
          <input type="button"  class="btn btnCal" value="6" onclick="document.calculator.codigo.value+='6'">
        </div>

        <div>
          <input type="button"  class="btn btnCal" value="7" onclick="document.calculator.codigo.value+='7'">
          <input type="button"  class="btn btnCal" value="8" onclick="document.calculator.codigo.value+='8'">
          <input type="button"  class="btn btnCal" value="9" onclick="document.calculator.codigo.value+='9'">
        </div>

        <div>
          <input type="button"  class="btn btnCal" value="0" onclick="document.calculator.codigo.value+='0'">
          <input type="reset"  class="btn btnCal" value="C" >
          <input type="button"  class="btn btnCal" value="←" onclick="document.calculator.codigo.value= document.calculator.codigo.value.substring(0,document.calculator.codigo.value.length - 1)">
        </div>
      </div>

    </div>
    <div>
      <%= submit_tag 'Buscar' ,class: ''%>


  <%end%>

  <%if @empleado.present? %>
    <p class="toCab"><strong>Empleado: </strong>  <%= @empleado.Nombre  %> <%=@empleado.Apellido %>  </p>
    <button class="btn btn-info " style="text-align: center"><%=link_to 'Continuar',transferencianext_path(:codigo => @empleado.CodigoEmpleado) %></button>
  <%end %>


  <%if flash[:notice]%>
    <div class="alerta2 alert alert-danger" style="margin-left: 10px;margin-right: 10px;font-weight: bold">

      <p><%=flash[:notice]%></p>
  <%end%>
    </div>


  </div>
</div>




</div>









